root = true;

[*]
end_of_line = if
insert_final_newline = true

[*.js]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true

[*.html]
charset = utf-8
indent_size = 4
indent_style = space

[*.css]
charset = utf-8
indent_size = 4
indent_style = space