/* ==== Global Styling ==== */

/* ==== Import Fonts ==== */
@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* ==== Reset ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

/* ==== Variables ==== */
:root {
    /* Fonts */
    --font-kufam: "Kufam", sans-serif;
    --font-nunito: "Nunito", sans-serif;

    /* Colors */
    --cyan-1: #f3fffe;
    --cyan-2: #c1fffa;
    --teal-1: #1da599;
    --oranye-1: #ffc265;
    --dark-gray-1: #525252;
    --dark-gray-2: #4a4a4a;
    --light-1: #fff;
    --dark-1: #000;

    /* Gradient */
    --gradient-header: linear-gradient(
        to top bottom,
        rgba(255 206, 131, 0),
        rgba(255, 194, 101, 5%)
    );
}

/* ==== Heading ==== */
.heading1-bold,
.heading3-bold,
.heading5-bold {
    line-height: 140%;
}

.heading1-bold {
    font-size: 54px;
    font-weight: bold;
    font-family: var(--font-kufam);
    color: var(--dark-gray-2);
}

.heading3-bold {
    font-size: 32px;
    font-weight: bold;
    color: var(--dark-gray-2);
    font-family: var(--font-kufam);
}

.heading5-bold {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-gray-2);
    font-family: var(--font-nunito);
}

/* ==== Sub Heading ==== */
.sub1-semibold,
.sub2-medium {
    font-family: var(--font-nunito);
    color: var(--dark-gray-2);
    line-height: 150%;
}

.sub1-semibold {
    font-size: 24px;
    font-weight: 600;
}

.sub2-medium {
    font-weight: 400;
    font-size: 22px;
}

/* ==== Button ==== */
button {
    cursor: pointer;
}

.button-filled,
.button-outline {
    outline: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    color: var(--dark-gray-1);
    font-family: var(--font-nunito);
    border-radius: 10px;
    padding: 1.5rem 5rem;
}

.button-filled {
    border: none;
    background-color: var(--oranye-1);
}

.button-outline {
    border: 3px solid var(--oranye-1);
    background-color: transparent;
}

/* ==== Flex ==== */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==== Section Padding, Or Margin ==== */
.section__padding {
    padding: 2rem 10rem;
}

.section__margin {
    margin: 2rem 10rem;
}

/* ==== Media Query ==== */

/* Laptop - Dekstop */
@media (max-width: 1450px) {
    /* ==== Section Padding, Or Margin ==== */
    .section__padding {
        padding: 2rem;
    }

    .section__margin {
        margin: 2rem;
    }
}

/* Tablet - Laptop */
@media (max-width: 1199px) {
    /* ==== Heading ==== */
    .heading1-bold {
        font-size: 48px;
    }

    .heading3-bold {
        font-size: 26px;
    }

    .heading5-bold {
        font-size: 14px;
    }

    /* ==== Sub Heading ==== */
    .sub1-semibold {
        font-size: 18px;
    }

    .sub2-medium {
        font-size: 16px;
    }

    /* ==== Button ==== */
    .button-filled,
    .button-outline {
        font-size: 18px;
        padding: 1rem 3rem;
    }
}

/* Smartphone ( Potrait ) */
@media (max-width: 768px) {
    /* ==== Heading ==== */
    .heading1-bold {
        font-size: 44px;
    }

    .heading3-bold {
        font-size: 22px;
    }

    /* ==== Sub Heading ==== */
    .sub1-semibold {
        font-size: 18px;
    }

    .sub2-medium {
        font-size: 16px;
    }
}

/* Smartphone */
@media (max-width: 480px) {
    /* ==== Heading ==== */
    .heading1-bold {
        font-size: 40px;
    }

    /* ==== Sub Heading ==== */
    .sub1-semibold {
        font-size: 18px;
    }

    .sub2-medium {
        font-size: 16px;
    }

    /* ==== Section Padding, Or Margin ==== */
    .section__padding {
        padding: 2rem 1rem;
    }

    .section__margin {
        margin: 2rem 1rem;
    }
}

/* ==== Manual Styling ==== */

/* ==== Header ==== */
.header {
    background-color: var(--gradient-header);
    width: 100%;
    min-height: 100vh;
}

/* ==== Navbar ==== */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    top: 0;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.navbar__list .sub2-medium {
    cursor: pointer;
}

.navbar__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.navbar__button-menu {
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
}

.navbar__button .button-filled {
    padding: 1rem 3rem;
}

.navbar__button-menu > span {
    width: 30px;
    height: 3px;
    background-color: var(--dark-1);
}

/* ==== Section ( Header ) ==== */
.section__header {
    display: flex;
    flex-direction: row;
}

.section__header-heading {
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
}

.section__header-heading h5 {
    padding: 0.5rem 2rem;
    background-color: var(--cyan-2);
    color: var(--teal-1);
    border-radius: 50px;
}

.section__header-image {
    flex: 1;
    justify-content: flex-end;
}

/* ==== Media Query ==== */

/* Tablet - Laptop */
@media (max-width: 1199px) {
    /* ==== Navbar ==== */
    .navbar__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 1rem;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 19px 14px 1px rgba(0, 0, 0, 0.1);
        margin-inline: 2rem;
        gap: 0;
        animation: showMenu 0.5s ease-in-out forwards;
    }

    .navbar__list .sub2-medium {
        padding: 1rem 2rem;
        border-radius: 10px;
    }

    .navbar__list .sub2-medium:first-child {
        background-color: var(--cyan-2);
        color: var(--teal-1) !important;
    }

    .navbar__list.active {
        display: flex;
    }

    .navbar__button-menu {
        display: flex;
    }

    /* ==== Section ( Header ) ==== */
    .section__header {
        flex-direction: column;
        gap: 4rem;
    }

    .section__header-heading {
        gap: 1rem;
    }

    .section__header-image img {
        width: 100%;
    }
}

/* Smartphone ( Potrait ) */
@media (max-width: 768px) {
    /* ==== Navbar ==== */
    .navbar__button .button-filled {
        display: none;
    }

    .navbar__list {
        margin-inline: 2rem;
    }
}

/* ==== Key Frames ==== */
@keyframes showMenu {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}
